@page "/"
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Notifications</PageTitle>

<h1>Notifications</h1>

Please find if your submission has been processed

@if (notifications != null)
{
    <ul>
        @foreach (var notification in notifications)
        {
            <li>@notification</li>
        }
    </ul>
}

@code 
{
    private HubConnection _hubConnection;
    private readonly List<string> notifications = new List<string>();
    
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl("http://localhost:5209/notifications")
            .Build();

        _hubConnection.On<string>("ReceiveNotification", (message) =>
        {
            notifications.Add(message);
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }
}